<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Metadata.title}}</title>
    {{if .Metadata.description}}
    <meta name="description" content="{{.Metadata.description}}" />
    {{end}} {{if .Metadata.date}}
    <meta name="date" content="{{.Metadata.date}}" />
    {{end}}
  </head>
  <body>
    <article>
      <header>
        <h1>{{.Metadata.title}}</h1>
        {{if .Metadata.date}}<time datetime="{{.Metadata.date}}"
          >{{.Metadata.date}}</time
        >{{end}} {{if .Metadata.read_time}}<span class="read-time"
          >{{.Metadata.read_time}} min read</span
        >{{end}}
      </header>
      <div class="content">{{.HTMLContent}}</div>
    </article>
  </body>
</html>
